* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
}

.title-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.title-desc-wrapper {
  width: 60%;
  padding: 6rem 7rem 0rem;
  color: #28344c;
}

.title-desc-wrapper p {
  margin: 2rem 0;
}

.title-desc-wrapper h1 {
  font-size: 7rem;
}

.blob-and-image-wrapper {
  width: 40%;
  position: relative;
  /* margin-right: 5rem; */
  overflow: hidden;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-img {
  width: 70%;
}

.blob {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

@media only screen and (max-width: 1300px) {
  .title-img {
    width: 85%;
  }

  .title-desc-wrapper h1 {
    font-size: 5.5rem;
  }

  .title-desc-wrapper p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1050px) {
  .title-desc-wrapper {
    padding: 6rem 4rem 0rem;
  }

  .title-desc-wrapper h1 {
    font-size: 4.5rem;
  }

  .title-desc-wrapper p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 750px) {
  .title-desc-wrapper {
    padding: 4rem 2rem 0rem;
  }

  .title-img {
    width: 100%;
  }

  .title-desc-wrapper h1 {
    font-size: 3.5rem;
  }

  .title-desc-wrapper p {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 550px) {
  .title-card-wrapper {
    padding-top: 8rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .title-desc-wrapper {
    width: 100%;
    padding: 0;
    text-align: center;
    padding: 0 1rem;
  }

  .blob-and-image-wrapper {
    width: 100%;
    padding: 2rem 5rem;
  }

  .blob {
    padding: 2rem 5rem;
  }

  .title-desc-wrapper p {
    font-size: 1rem;
  }
}
