.jokes-area-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  padding: 2rem 1rem 1rem;
}

.category-list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.listItem button {
  width: 7rem;
  height: 1.5rem;
  border: 3px solid #28344c;
  margin: 1rem 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.listItem.isActive button {
  color: white;
  background-color: #28344c;
}

@media only screen and (max-width: 475px) {
  .listItem button {
    width: 6.5rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
  }
}
