.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    height: 125px;
    background-color: #28344c;
    margin-top: 3rem;
}

.footer p {
    margin: 1rem 0;
}